
</h1>Edit Article</h1>

<form action="/articles" method="post">
  Article Title:<br>
  <input type="text" name="name" value="{{article.title}}">
  <br>
  Body:<br>
  <input type="text" name="body" value="{{article.body}}">
  <br>
  Author:<br>
  <input type="text" name="author" value="{{article.author}}">
  <br>
  <input type="submit">
</form>