{{#each articles}}

</h1>Edit Article</h1>

<form action="/articles/{{title}}?_method=PUT" method="POST">
  Article Title:<br>
  <input type="text" name="title" value="{{title}}">
  <br>
  Body:<br>
  <input type="text" name="body" value="{{body}}">
  <br>
  Author:<br>
  <input type="text" name="author" value="{{author}}">
  <br>
  <input type="submit">
</form>
{{/each}}


{{!-- //method override --}}