<h1>List of Articles</h1>

{{#each articles}}
  <div class = "articles">
    <p>Article Title: {{title}}<br>
    Body: {{body}}<br>
    Author: {{author}}
    </p>
  <div>

{{/each}}


<form action="articles/new" method="GET">
  <input type="submit" value="Add New Article">
</form>
