
</h1>Edit Product</h1>

<form action="/products/{{product.id}}?_method=PUT" method="POST">
  Product Name:<br>
  <input type="text" name="name" value="{{product.name}}">
  <br>
  Product Price:<br>
  <input type="text" name="price" value="{{product.price}}">
  <br>
  Inventory:<br>
  <input type="text" name="inventory" value="{{product.inventory}}">
  <br>
  <input type="submit">
</form>