</h1>New Product Template</h1>

<form>
  Product Name:<br>
  <input type="text" name="firstname">
  <br>
  Product Price:<br>
  <input type="text" name="lastname">
  <br>
  Inventory:<br>
  <input type="text" name="lastname">
</form>
