</h1>New Product Template</h1>

<form id="form" action="/products" method="post">
  Product Name:<br>
  <input type="text" name="name">
  <br>
  Product Price:<br>
  <input type="text" name="price">
  <br>
  Inventory:<br>
  <input type="text" name="inventory">
  <br>
  <input type="submit">
</form>
