<h1>Product Template</h1>

<form action="/products" method="post">
  Product Name:<br>
  <input type="text" name="name">
  <br>
  Product Price:<br>
  <input type="text" name="price">
  <br>
  Inventory:<br>
  <input type="number" name="inventory">
  <br>
  <input type="submit">
</form>

